.inputBox {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.board {
  $this: &;

  padding-left: 0;
  width: 600px;
  margin: 0 auto;

  &__row {
    border: none;
    border-bottom: 1px solid gray;
    list-style: none;
    padding: 3px 0;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-around;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }

  &__item {
    outline: 1px dashed gray;
    &:nth-child(1){
      width: 50px;
    }
    &:nth-child(2){
      width: 280px;
    }
    &:nth-child(3){
      width: 100px;
    }
    &:nth-child(4){
      width: 130px;
      overflow: hidden;
    }
  }
}

.selectedBoard {
  outline: 1px solid salmon;
  width: 600px;
  margin: 20px auto;
  
}

.buttonWrap{
  margin-top: 25px;
  text-align: right;  
}

.pagenation {
  @extend .board;
  margin-top: 10px;

}

.pagenation__item {
  display: inline-block;
  margin: 0 5px;
  border: 1px solid gray;
  padding: 2px 3px;
  cursor: pointer;
}

.formWrap {
  width: 600px;
  margin: 0 auto;
}