<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="shared/layout">

<head>
  <meta charset="UTF-8">
  <link href="/board/css/style.min.css" rel="stylesheet">
  <title>Board</title>
</head>

<th:block layout:fragment="script" th:tag="remove">
  <script src="/vendor/jquery/jquery-3.3.1.min.js"></script>
</th:block>

<th:block layout:fragment="content" th:tag="remove">
  <!-- <form action="/api/board/register" id="board" method="POST" accept-charset="utf-8">
		<fieldset>
			<legend>글쓰기</legend>
			
			<input type="text" name="title" />
			<input type="text" name="name" />
			<div>	
				<textarea rows="10" cols="100" name="content" form="board"></textarea>
			</div>
		</fieldset>
		<input type="submit" value="작성">
	</form> -->

  <h1>Board Ex</h1>

  <div id="app" class="wrap">
    <!-- <div class="inputBox">
      <label for="name">이름</label>
      <input type="text" v-model="name" id="name" />
      <label for="title">제목</label>
      <input type="text" v-model="title" id="title" />
      <div style="margin-top:10px">
        <label for="content" style="vertical-align:top;">내용</label>
        <textarea v-model="content" id="content" cols="55" rows="8" style="vertical-align:top;">
        </textarea>
      </div>
      <div class="buttonWrap">
      	<button type="button" v-on:click="onSubmit">등록</button>
        <button type="button" v-on:click="onSubmitModified(selectedBoard.idx)">수정</button>
      </div>
    </div> -->

    <ul class="board">
      <li class="board__row">
        <span class="board__item">번호</span>
        <span class="board__item">제목</span>
        <span class="board__item">글쓴이</span>
        <span class="board__item">작성일</span>
      </li>
      <!-- <li v-for="(item, idx) in boardList" :key="idx" class="board__row" v-on:click="onSelect(item.idx)"> -->
      <li v-for="(item, idx) in boardList" :key="idx" class="board__row" v-on:click="onSelect(item.idx)">
        <span class="board__item">{{ item.idx }}</span>
        <span class="board__item">{{ item.title }}</span>
        <span class="board__item">{{ item.name }}</span>
        <span class="board__item">{{ item.regDate.substr(0,10) }}</span>
      </li>
    </ul>

    <!-- <div v-if="selectedBoard != null" class="selectedBoard">
      <div> {{ selectedBoard.content }} </div>
      <div class="buttonWrap">
        <button type="button" v-on:click="onModify(selectedBoard)">수정</button>
        <button type="button" v-on:click="onDelete(selectedBoard.idx)">삭제</button>
      </div>
    </div> -->

    <ul class="pagenation">
      <li v-for="idx in totalPageLength" class="pagenation__item" :key="idx" v-on:click="onPageSelect(idx)">{{ idx }}</li>
      <button type="button" onclick="location.href='/board/register'">글쓰기</button>
    </ul>

  </div>

</th:block>

<th:block layout:fragment="body-script" th:tag="remove">
  <!-- <script src="/vendor/vue/vue.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/board/js/main.js"></script>
</th:block>

</html>